<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$init.title}</title>
    <meta name="description" content="{$init.desc}">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/admin/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/assets/css/app.css">
    <script src="__PUBLIC__/admin/assets/js/jquery.min.js"></script>

</head>
<body data-type="login">
    <script src="__PUBLIC__/admin/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 风格切换 -->
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">
                </div>
                <form class="am-form tpl-form-line-form" action="{:U('login/action')}" method="post">
                <input type="hidden" name="do" value="login" />
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="username" placeholder="输入用户名（至少 5 个字符）" autocomplete="off">

                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="password" placeholder="请输入登录密码" autocomplete="off">
                    </div>
                    <div class="am-form-group">

                        <button  class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/admin/assets/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/admin/assets/js/app.js"></script>
    <!-- 表单验证 -->
    <js file="__PUBLIC__/assets/plugins/nice-validator-0.8.1/jquery.validator.js"/>
    <js file="__PUBLIC__/assets/plugins/nice-validator-0.8.1/local/zh-CN.js"/>
    <css file="__PUBLIC__/assets/plugins/nice-validator-0.8.1/jquery.validator.css"/>    
    <js file="__PUBLIC__/assets/plugins/layer/layer.js"/>
    <js file="__PUBLIC__/assets/js/jquery.form.js" />
    <js file="__PUBLIC__/assets/js/Common.js" />
    <script>
    $(document).ready(function() {
      $('form').validator({
            theme:'yellow_top',
            msgClass:'n-right',
            msgIcon:'',
            msgMaker: function(opt){
              if(!opt.msg){
                return '';
              }
              return '<span class="msg-wrap n-error" role="alert" style="top:8px;"><span class="n-msg" style="top:8px;">'+opt.msg+'</span></span>'
            },
            messages:{
                'required':'{0} 不能为空！'
            },
            fields: {
                'username': "用户名:required;username",
                'password': "密码:required;password",
                //'verify': "验证码:required;"
            },
            valid:function(form){
              var load = Common.load();
              $(form).ajaxSubmit({
                dataType:'json',
                success:function(res){
                  layer.close(load);
                  if(res.error!=undefined){
                    Common.faild(res.error);
                  }else {
                    window.location.href=res.url;
                  }
                }
              });
            }
        });
    });
    </script>
</body>

</html>